<!--
* 公司名称：驭航信息技术（上海）有限公司
* 系统名称：PNC-MES管理系统
* 子系统名称：打印模板管理
* 创建人：pjf
* 创建时间：2020-10-10
* 修改人：
* 修改时间：
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>打印模板管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuimini/css/public.css}" media="all">
    <style>
        .inputRead {
            background: #f2f2f2;
        }

        .layui-table-cell, .layui-table-tool-panel li {
            overflow: visible !important;
        }

        .layui-form-select .layui-input {
            height: 30px;
        }

        .layui-table-box {
            overflow: visible !important;
        }

        .layui-table-body {
            overflow: visible !important;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">模板名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="ptName" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-read" lay-event="read">查看</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

        <script type="text/html" id="toolbarScript">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-count-delete" lay-event="delete">删除</button>
            </div>
        </script>
    </div>
</div>

<!--- 子页面 -->
<div id="content" style="display: none;">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">基本资料</li>
            <li>绑定字段</li>
            <li>自定义模板字段</li>
            <li>其它</li>
        </ul>
        <div class="layui-form layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label required">模板名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="ptName" lay-verify="required" class="layui-input" lay-reqtext="名称不能为空" placeholder="请输入模板名称" />
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label required">模板文件</label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="file"><i class="layui-icon"></i>上传文件</button>
                        <div class="layui-text">
                            <a id="filePath" href="javascript:void(0)" style="height: 38px;line-height: 38px;"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-tab-item">
                <!-- 绑定字段 -->
                <div class="layui-form-item">
                    <div id="bf" class="xm-select-demo" style="width: 360px;"></div>
                </div>
                <table class="layui-hide" id="bFTableId"></table>
            </div>

            <div class="layui-tab-item">
                <!-- 自定义模板字段 -->
                <div class="layui-form-item">
                    <label class="layui-form-label required">脚本名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="scriptName" lay-verify="required" class="layui-input" placeholder="请输入脚本名称" />
                    </div>

                    <div class="layui-input-block">
                        <input id="isScript" type="checkbox" lay-filter="checkScript" title="启用脚本">
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                        <table class="layui-hide" id="inParamsTableId" lay-filter="inTableFilter"></table>
                    </div>

                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                        <table class="layui-hide" id="outParamsTableId" lay-filter="outTableFilter"></table>
                    </div>
                </div>
            </div>

            <div class="layui-tab-item" id="other">
                <!-- 其它 -->
                <div class="layui-form-item">
                    <label class="layui-form-label">创建人</label>
                    <div class="layui-input-block">
                        <input type="text" id="creator" name="name" lay-verify="required" disabled class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="createTime" name="name" lay-verify="required" disabled class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">修改人</label>
                    <div class="layui-input-block">
                        <input type="text" id="lastModifyMan" name="name" lay-verify="required" disabled class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">修改时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="lastModifyTime" name="name" lay-verify="required" disabled class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea id="remark" name="remark" class="layui-textarea inputRead" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/static/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/layuimini/js/lay-config.js}" charset="utf-8"></script>
<script th:src="@{/static/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/static/utils/commons.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table', 'element', 'upload', 'xmSelect'], function () {
        let $ = layui.jquery,
            form = layui.form,
            upload = layui.upload,
            xmSelect = layui.xmSelect;
            table = layui.table;

        //页面首次加载
        load();
        loadScript();

        //加载预设脚本字段
        let scriptS = xmSelect.render({
            el: '#bf'
            ,prop: {
                name: 'BFName',
                value: 'BFCode',
            }
            ,model: {
                label: {
                    type: 'block',
                    block: {
                        showCount: 2,
                        showIcon: true,
                    }
                }
            }
            ,data: []
            ,on: function (data) {
                table.reload('bFTableId', {
                    data: data.arr
                });
            }
            ,toolbar: {
                show: true,
            },
            filterable: true
        });
        requests({url: "/PrintT/GetPtBFInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "00"}}, function (res) {
            scriptS.update({
                data: res.Data
            })
        });

        upload.render({
            elem: '#file'
            ,url: getBasePath() + '/File/upload'
            ,accept: 'file'
            ,done: function(res){
                if(res.status !== "00" || res.body.msgCode !== "0x00000"){
                    layer.msg(res.body.msgDes, {icon: 2});
                }else{
                    $("#filePath").prop("href", getBasePath() + "/File/download/" + res.body.data.fileName).html(res.body.data.fileName);
                    layer.msg('上传成功', {icon: 1});
                }
            }
            ,error: function () {
                layer.msg('上传失败', {icon: 2});
            }
        });

        //toolbar监听事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {
                clear();
                let index = layer.open({
                    title: '添加模板',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['60%', '80%'],
                    content: $("#content"),
                    btn: ['确认保存'],
                    yes: function (index, layero) {
                        save(index, 1);
                    },
                    success: function (layro, index) {
                        table.reload('bFTableId', {
                            data: []
                        });
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });

        //表格中按钮事件
        table.on('tool(currentTableFilter)', function (obj) {
            let data = obj.data;
            if (obj.event === 'edit') {
                //获取选中id
                let ptRd = data.PtRd;
                requests({url: "/PrintT/GetPtInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "00",
                        "BusData": JSON.stringify({"PtRd": ptRd})
                    }}, function (res) {
                    let data = res.Data;

                    clear();

                    loadData(data);

                    let index = layer.open({
                        title: '编辑打印模板',
                        type: 1,
                        shade: 0.2,
                        maxmin:true,
                        shadeClose: true,
                        area: ['60%', '80%'],
                        content: $("#content"),
                        btn: ['确认保存'],
                        yes: function (index, layero) {
                            save(index, 2, ptRd);
                        },
                        success: function (layro, index) {
                            table.reload('bFTableId', {
                                data: data.BFInfo
                            });
                        }
                    });
                    $(window).on("resize", function () {
                        layer.full(index);
                    });
                });

                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    requests({url: "/PrintT/SavePtInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "01",
                            "BusData": JSON.stringify({PtRd: data.PtRd})
                        }}, function (res) {
                        layer.msg("删除成功", {icon: 1});
                        table.reload('currentTableId');
                    });

                    layer.close(index);
                });
            } else if(obj.event === 'read') {
                read(data);

                return false;
            }
        });

        //监听行双击事件
        table.on('rowDouble(currentTableFilter)', function(obj){
            read(obj.data);
            return false;
        });

        //监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    fields: [
                        {
                            fieldName: "tempName",
                            fieldOpt: "like",
                            fieldVal: data.field.ptName
                        },
                        {
                            fieldName: "Ruid",
                            fieldOpt: "Order BY",
                            fieldVal: ""
                        }
                    ]
                }
            }, 'data');

            return false;
        });

        //script toolbar监听事件
        table.on('toolbar(inTableFilter)', function (obj) {
            if (obj.event === 'add') {
                let data = table.cache['inParamsTableId'];
                data.push({
                    FieldCode: '',
                    Val: ''
                });
                table.reload("inParamsTableId", {data: data});
            }else if(obj.event === 'delete'){
                let data = table.cache['inParamsTableId'].filter(item => !item.LAY_CHECKED);
                table.reload("inParamsTableId", {data: data});
            }
        });
        table.on('toolbar(outTableFilter)', function (obj) {
            if (obj.event === 'add') {
                let data = table.cache['outParamsTableId'];
                data.push({
                    FieldCode: '',
                    FieldName: ''
                });
                table.reload("outParamsTableId", {data: data});
            }else if(obj.event === 'delete'){
                let data = table.cache['outParamsTableId'].filter(item => !item.LAY_CHECKED);
                table.reload("outParamsTableId", {data: data});
            }
        });

        //查看
        function read(data) {
            //获取选中id
            let ptRd = data.PtRd;
            requests({url: "/PrintT/GetPtInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "00",
                    "BusData": JSON.stringify({PtRd: ptRd})
                }}, function (res) {
                let data = res.Data;

                clear();

                loadData(data);

                $("#content input").addClass("inputRead").prop("disabled", true);
                $("#remark").addClass("inputRead").prop("disabled", true);
                scriptS.update({ disabled: true });

                table.reload('inParamsTableId', {
                    toolbar: ''
                });
                table.reload('outParamsTableId', {
                    toolbar: ''
                });

                let index = layer.open({
                    title: '查看打印模板',
                    type: 1,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['60%', '80%'],
                    content: $("#content"),
                    success: function (layro, index) {
                        table.reload('bFTableId', {
                            data: data.BFInfo
                        });
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            });
        }

        //保存
        function save(index, type, id) {
            //type-> 1.新增 2.编辑
            //获取绑定字段
            let inArr = table.cache['inParamsTableId'].map(o => { return {
                FieldCode: o.FieldCode,
                FieldSource: '00',
                Val: o.Val
            }});
            let outArr = table.cache['outParamsTableId'].map(o => { return {
                FieldCode: o.FieldCode,
                FieldName: o.FieldName
            }});
            let data = {
                PtName: $("#ptName").val().trim(),
                FileName: $("#filePath").html().trim(),
                Remark: $("#remark").val(),
                BFInfo: scriptS.getValue().map(o => {return {...o, BFSource: '00'}}),
                Customer: {
                    IsScript: $("#isScript").prop("checked") ? '00' : '01',
                    ScriptName: $("#scriptName").val(),
                    InParams: inArr,
                    OutParams: outArr
                }
            };

            if(data.PtName === ''){
                layer.msg("模板名称不能为空", {icon: 2});
                return;
            }
            if(data.FileName === ''){
                layer.msg("模板文件不能为空", {icon: 2});
                return;
            }

            if(type === 1){
                requests({url: "/PrintT/SavePtInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "00",
                        "BusData": JSON.stringify(data)
                    }}, function (res) {
                    layer.msg("新增成功", {icon: 1});
                    layer.close(index);
                    table.reload('currentTableId');
                });
            }else if(type === 2){
                data.PtRd = id;
                requests({url: "/PrintT/SavePtInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "02",
                        "BusData": JSON.stringify(data)
                    }}, function (res) {
                    layer.msg("保存成功", {icon: 1});
                    layer.close(index);
                    table.reload('currentTableId');
                });
            }
        }

        //初始化表格数据
        function load() {
            table.render({
                elem: '#currentTableId',
                url: getBasePath() + "/PrintT/GetAllPtNew",
                method: 'post',
                contentType: 'application/json',
                toolbar: '#toolbar',
                where: {
                    fields: [{
                        fieldName: "Ruid",
                        fieldOpt: "Order BY",
                        fieldVal: ""
                    }]
                },
                defaultToolbar: ['filter', 'exports', 'print'],
                cols: [
                    [
                        {field: 'PtRd', title: 'ID', hide: true},
                        {field: 'PtName', title: '模板名称'},
                        {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                    ]
                ],
                request: {
                    pageName: 'current',
                    limitName: 'size'
                },
                parseData: function(res){
                    return {
                        code: res.status,
                        msg: res.body.msgDes,
                        count: res.body.data.total,
                        data: res.body.data.list
                    }
                },
                limits: [10, 15, 20, 25, 50, 100],
                limit: 10,
                page: true,
                skin: 'row '
            });
        }

        //初始化脚本数据
        function loadScript() {
            table.render({
                elem: '#bFTableId',
                cols: [
                    [
                        {field: 'BFName', title: '绑定名称'},
                        {field: 'BFCode', title: '绑定代码'}
                    ]
                ],
                data: [],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 10,
                page: true,
                skin: 'row '
            });

            //输入表格
            table.render({
                elem: '#inParamsTableId',
                toolbar: '#toolbarScript',
                cols: [
                    [
                        {type:'checkbox'},
                        {field: 'FieldCode', title: '输入参数', edit: true},
                        {field: 'Val', title: '参数值', edit: true}
                    ]
                ],
                data: [],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 10,
                page: true,
                skin: 'row ',
                defaultToolbar: []
            });

            //输出表格
            table.render({
                elem: '#outParamsTableId',
                toolbar: '#toolbarScript',
                cols: [
                    [
                        {type:'checkbox'},
                        {field: 'FieldCode', title: '输出参数', edit: true},
                        {field: 'FieldName', title: '输出参数别名', edit: true}
                    ]
                ],
                data: [],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 10,
                page: true,
                skin: 'row ',
                defaultToolbar: []
            });
        }

        function loadData(data){
            $("#ptName").val(data.PtName);
            $("#filePath").prop("href", getBasePath() + "/File/download/" + data.FileName).html(data.FileName);

            //绑定字段
            if(data.BFInfo){
                scriptS.setValue(data.BFInfo)
            }

            //自定义模板赋值
            if(data.Customer){
                table.reload("inParamsTableId", {data: data.Customer.InParams});
                table.reload("outParamsTableId", {data: data.Customer.OutParams});
                $("#isScript").prop("checked", data.Customer.IsScript === '00' ? true : false);
                $("#scriptName").val(data.Customer.ScriptName);
            }

            $("#creator").val(data.Creator);
            $("#createTime").val(data.CreateTime);
            $("#lastModifyMan").val(data.LastModifyMan);
            $("#lastModifyTime").val(data.LastModifyTime);
            $("#remark").val(data.Remark);
            form.render();
        }

        //清空
        function clear() {
            $("#ptName").val("");
            $("#filePath").prop("href", "javascript:void(0)").html("");

            $("#remark").val("");
            $("#creator").val("");
            $("#createTime").val("");
            $("#lastModifyMan").val("");
            $("#lastModifyTime").val("");

            $("#content input").removeClass("inputRead").prop("disabled", false);
            $("#other input").addClass("inputRead").prop("disabled", true);
            $("#remark").removeClass("inputRead").prop("disabled", false);

            scriptS.setValue([]);
            scriptS.update({ disabled: false });

            table.reload('inParamsTableId', {
                toolbar: '#toolbarScript'
            });
            table.reload('outParamsTableId', {
                toolbar: '#toolbarScript'
            });

            table.reload("inParamsTableId", {data: []});
            table.reload("outParamsTableId", {data: []});
            $("#isScript").prop("checked", false);
            $("#scriptName").val("");

            form.render();
        }
    });
</script>
</body>
</html>
