<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>供应商管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuimini/css/public.css}" media="all">
    <style>
        .inputRead {
            background: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">供应商名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="SupNames" name="SupNames" lay-verify="required" class="layui-input inputRead">
                                </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-read" lay-event="read">查看</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>
    </div>
</div>

<!--- 子页面 -->
<div id="content" style="display: none;">
    <div class="layui-form layuimini-form" style="width: 90%;margin-top: 20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">供应商代码</label>
            <div class="layui-input-block">
                <input type="text" id="SupCode" name="SupCode" lay-verify="required" class="layui-input inputRead">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">供应商名称</label>
            <div class="layui-input-block">
                <input type="text" id="SupName" name="SupName" lay-verify="required" class="layui-input inputRead">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-block">
                <input type="text" id="SupConn" name="SupConn" lay-verify="required" class="layui-input inputRead">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input type="text" id="SupConnWay" name="SupConnWay" lay-verify="required" class="layui-input inputRead">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">供应商全名</label>
            <div class="layui-input-block">
                <input type="text" id="SupFullName" name="SupFullName" lay-verify="required" class="layui-input inputRead">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <select name="Status" lay-filter="" lay-search>
                    <option value="00">可用</option>
                    <option value="01">不可用</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">联系地址</label>
            <div class="layui-input-block">
                <input type="text" id="SupAddr" name="SupAddr" lay-verify="required" class="layui-input inputRead">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea id="remark" name="remark" class="layui-textarea" placeholder="请输入备注信息"></textarea>
            </div>
        </div>
    </div>
</div>

<!-- 查看子页面 -->
<div class="layui-form layuimini-form" id="readContent" style="display: none;">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">基础信息</li>
            <li>其它</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">供应商代码</label>
                    <div class="layui-input-block">
                        <input type="text" id="SupCode1" name="SupCode" lay-verify="required" class="layui-input inputRead">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">供应商名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="SupName1" name="SupName" lay-verify="required" class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系人</label>
                    <div class="layui-input-block">
                        <input type="text" id="SupConn1" name="SupConn" lay-verify="required" class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系方式</label>
                    <div class="layui-input-block">
                        <input type="text" id="SupConnWay1" name="SupConnWay" lay-verify="required" class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">供应商全名</label>
                    <div class="layui-input-block">
                        <input type="text" id="SupFullName1" name="SupFullName" lay-verify="required" class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <select name="Status1" lay-filter="" lay-search>
                            <option>可用</option>
                            <option>不可用</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">联系地址</label>
                    <div class="layui-input-block">
                        <input type="text" id="SupAddr1" name="SupAddr" lay-verify="required" class="layui-input inputRead">
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">创建人</label>
                    <div class="layui-input-block">
                        <input type="text" id="creator" name="name" lay-verify="required" disabled class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="createTime" name="name" lay-verify="required" disabled class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">修改人</label>
                    <div class="layui-input-block">
                        <input type="text" id="lastModifyMan" name="name" lay-verify="required" disabled class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">修改时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="lastModifyTime" name="name" lay-verify="required" disabled class="layui-input inputRead">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea id="remark_" name="remark" class="layui-textarea inputRead" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/static/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/layuimini/js/lay-config.js}" charset="utf-8"></script>
<script th:src="@{/static/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/static/utils/commons.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table', 'element'], function () {
        let $ = layui.jquery,
            form = layui.form,
            table = layui.table;
          ;

        //重新渲染表单函数
        function renderForm() {
            layui.use('form', function() {
                var form = layui.form;
                form.render();
            });
        }

        //页面首次加载
        load();

        //toolbar监听事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                clear();
                let index = layer.open({
                    title: '添加客户',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['50%', '70%'],
                    content: $("#content"),
                    btn: ['确认保存'],
                    yes: function (index, layero) {
                        save(index, 1);
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });

        //表格中按钮事件
        table.on('tool(currentTableFilter)', function (obj) {
            let data = obj.data;
            if (obj.event === 'edit') {
                //获取选中id
                let SupRd = data.SupRd;
                requests({url: "/Supplier/GetSupInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "00",
                        "BusData": JSON.stringify({SupRd: SupRd})
                    }}, function (res) {
                    let data = res.Data;

                    clear();

                    $("#SupCode").val(data.SupCode);
                    $("#SupName").val(data.SupName);
                    $("#SupConn").val(data.Contactor);
                    $("#SupConnWay").val(data.Mobile);
                    $("#SupFullName").val(data.SupFName);
                    $("#SupAddr").val(data.Address);
                    $("select[name='Status']").val(data.Status);
                    renderForm();

                    $("#remark_").val(data.Remark);
                    $("#creator").val(data.Creator);
                    $("#createTime").val(data.CreateTime);
                    $("#lastModifyMan").val(data.LastModifyMan);
                    $("#lastModifyTime").val(data.LastModifyTime);

                    let index = layer.open({
                        title: '编辑供应商',
                        type: 1,
                        shade: 0.2,
                        maxmin:true,
                        shadeClose: true,
                        area: ['50%', '70%'],
                        content: $("#content"),
                        btn: ['确认保存'],
                        yes: function (index, layero) {
                            save(index, 2, SupRd);
                        }
                    });
                    $(window).on("resize", function () {
                        layer.full(index);
                    });
                });

                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    requests({url: "/Supplier/SaveSupInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "01",
                            "BusData": JSON.stringify({SupRd: data.SupRd})
                        }}, function (res) {
                        layer.msg("删除成功", {icon: 1});
                        table.reload('currentTableId');
                    });

                    layer.close(index);
                });
            } else if(obj.event === 'read') {
                read(data);

                return false;
            }
        });

        //监听行双击事件
        table.on('rowDouble(currentTableFilter)', function(obj){
            read(obj.data);
            return false;
        });

        //监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    fields: [
                        {
                            fieldName: "SupplierName",
                            fieldOpt: "like",
                            fieldVal: data.field.SupNames
                        },
                        {
                            fieldName: "Ruid",
                            fieldOpt: "Order BY",
                            fieldVal: ""
                        }
                    ]
                }
            }, 'data');

            return false;
        });

        //查看
        function read(data) {
            //获取选中id
            let SupRd = data.SupRd;
            requests({url: "/Supplier/GetSupInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "00",
                    "BusData": JSON.stringify({SupRd: SupRd})
                }}, function (res) {
                let data = res.Data;
                clear();

                $("#SupCode1").val(data.SupCode);
                $("#SupName1").val(data.SupName);
                $("#SupConn1").val(data.Contactor);
                $("#SupConnWay1").val(data.Mobile);
                $("#SupFullName1").val(data.SupFName);
                $("#SupAddr1").val(data.Address);
                $("select[name='Status1']").val(data.Status);

                $("#remark_").val(data.Remark);
                $("#creator").val(data.Creator);
                $("#createTime").val(data.CreateTime);
                $("#lastModifyMan").val(data.LastModifyMan);
                $("#lastModifyTime").val(data.LastModifyTime);

                let index = layer.open({
                    title: '查看供应商',
                    type: 1,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '70%'],
                    content: $("#readContent"),
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            });
        }

        //保存
        function save(index, type, id) {
            //type-> 1.新增 2.编辑
            let data = {
                SupCode:$("#SupCode").val(),
                SupName: $("#SupName").val(),
                SupFName: $("#SupFullName").val(),
                Contactor: $("#SupConn").val(),
                Mobile: $("#SupConnWay").val(),
                Address:  $("#SupAddr").val(),
                Status: $("select[name='Status']").val(),
                Remark:   $("textarea[name='remark']").val(),
            };
            if(type === 1){
                requests({url: "/Supplier/SaveSupInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "00",
                        "BusData": JSON.stringify(data)
                    }}, function (res) {
                    layer.msg("新增成功", {icon: 1});
                    layer.close(index);
                    table.reload('currentTableId');
                });
            }else if(type === 2){
                data.SupRd = id;
                delete  data.SupCode;
                requests({url: "/Supplier/SaveSupInfo", contentType: "application/x-www-form-urlencoded", data: {"ExecType": "02",
                        "BusData": JSON.stringify(data)
                    }}, function (res) {
                    layer.msg("保存成功", {icon: 1});
                    layer.close(index);
                    table.reload('currentTableId');
                });
            }
        }

        //初始化表格数据
        function load() {
            table.render({
                elem: '#currentTableId',
                url: getBasePath() + "/Supplier/GetAllSupNew",
                method: 'post',
                contentType: 'application/json',
                toolbar: '#toolbar',
                where: {
                    fields: [{
                        fieldName: "Ruid",
                        fieldOpt: "Order BY",
                        fieldVal: ""
                    }]
                },
                defaultToolbar: ['filter', 'exports', 'print'],
                cols: [
                    [
                        {field: 'SupRd', title: 'ID', sort: true},
                        {field: 'SupCode', title: '供应商代码'},
                        {field: 'SupName', title: '供应商名称'},
                        {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                    ]
                ],
                request: {
                    pageName: 'current',
                    limitName: 'size'
                },
                parseData: function(res){
                    return {
                        code: res.status,
                        msg: res.body.msgDes,
                        count: res.body.data.total,
                        data: res.body.data.list
                    }
                },
                limits: [10, 15, 20, 25, 50, 100],
                limit: 10,
                page: true,
                skin: 'row '
            });
        }

        //清空
        function clear() {

            $("#SupCode").val(''),
            $("#SupName").val(''),
            $("#SupFullName").val(''),
            $("#SupConn").val(''),
            $("#SupConnWay").val(''),
            $("#SupAddr").val(''),
            $("select[name='Status']").val(''),
            $("textarea[name='remark']").val(''),
            $("#creator").val("");
            $("#createTime").val("");
            $("#lastModifyMan").val("");
            $("#lastModifyTime").val("");
        }
    });
</script>
</body>
</html>
