<!--
* @Description 日志查询
* @Author yin.yang
* @Param
* @Return
* @Exception
*-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>余料查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuimini/css/public.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend></legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form" lay-filter="selectContent" id="selectContent" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">工单号</label>
                            <div class="layui-input-inline">
                                <select name="woCodes" xm-select="select_woCode" xm-select-radio xm-select-search-type="dl"
                                        xm-select-search xm-select-max="5">
                                    <option value="">请选择工单</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">工序</label>
                            <div class="layui-input-inline">
                                <select name="specGuid" xm-select="select_spec" xm-select-radio xm-select-search-type="dl"
                                        xm-select-search xm-select-max="5">
                                    <option value="">请选择工序</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn" lay-submit lay-filter="data-search-btn"><i
                                    class="layui-icon"></i> 查 询
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbar">
        </script>

        <!--操作页-->
        <div class="layui-form layuimini-form" id="readContent" lay-filter="readContent">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <table class="layui-hide" id="udMaterialLogs" lay-filter="udMaterialTableFilter"
                       style="font-size: 5px"></table>
            </div>
        </div>
    </div>
</div>

</body>

<script type="text/html" id="sunNumTemp">
    {{d.sumNum != undefined ? d.sumNum : ''}} {{d.unitName != undefined ? d.unitName : ''}}
</script>

<script th:src="@{/static/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/static/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/layuimini/js/lay-config.js}" charset="utf-8"></script>
<script th:src="@{/static/utils/commons.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table', 'formSelects', 'element', 'laydate', 'util', 'treeTable'], function () {
        var table = layui.table,
            form = layui.form,
            formSelects = layui.formSelects,
            element = layui.element,
            util = layui.util,
            laydate = layui.laydate,
            treeTable = layui.treeTable,
            $ = layui.jquery;

        //执行一个laydate实例
        laydate.render({
            elem: '#entryTime' //指定元素
        });


        /**
         * 上料日志
         * */
        table.render({
            id: 'udMaterialLogs',
            height: 650,
            elem: '#udMaterialLogs',
            url: getBasePath() + '/UDMaterialFPPlus/GetAllUDMaterials', //数据接口
            method: 'post', //类型
            title: '余料信息',
            toolbar: '#toolbar',  //开启头部工具栏，并为其绑定左侧模板
            defaultToolbar: ['filter', 'exports', 'print'],
            totalRow: true, //开启合计
            page: true,  //开启分页
            limits: [30, 50, 100, 500, 1000],
            cols: [
                [
                    {field: 'woCode', title: '工单号', width: 150, sort: true, fixed: 'left'}
                    , {field: 'lotNo', title: '物料批次', width: 250, sort: true, fixed: 'left'}
                    , {field: 'materialCode', title: '物料代码', width: 300}
                    , {field: 'materialName', title: '物料名称', width: 160}
                    , {field: 'specName', title: '工序名称', width: 160}
                    , {field: 'devName', title: '设备名称', width: 160}
                    , {field: 'sumNum', title: '数量', width: 120, templet: "#sunNumTemp"}
                    , {
                    field: 'createTime', title: '时间', sort: true, width: 180, templet: function (d) {
                        return util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss");
                    }
                }
                ]
            ],
            parseData: function (res) {
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.body.msgDes, //解析提示文本
                    "count": res.body.data == null ? 0 : res.body.data.total, //解析数据长度
                    "data": res.body.data == null ? "" : res.body.data.records //解析数据列表
                };
            }
        });



        //监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('udMaterialLogs', {
                page: {
                    curr: 1
                }
                , where: {
                    "woCode": formSelects.value('select_woCode', 'nameStr'),
                    "specGuid": formSelects.value('select_spec', 'valStr'),
                    "udType":data.field.udType,

                }
            }, 'data');

            return false;
        });

        //select查询
        formSelects.config('select_woCode', {
            type: 'post',
            head: 'application/json;charset=UTF-8',
        }, true);

        formSelects.data('select_woCode', 'server', {
            url: getBasePath() + '/BaseRequestSelect/GetAllWo',
            beforeSuccess: function (id, url, searchVal, result) {
                result = result.body.data;
                $.each(result, function (index, item) {
                    item.name = item.woCode;
                    item.value = item.ruid;
                });

                return result;
            }
        });

        //select查询
        formSelects.config('select_spec', {
            type: 'post',
            head: 'application/json;charset=UTF-8',
        }, true);

        formSelects.data('select_spec', 'server', {
            url: getBasePath() + '/BaseRequestSelect/GetAllSpec',
            beforeSuccess: function (id, url, searchVal, result) {
                result = result.body.data;
                $.each(result, function (index, item) {
                    item.name = item.specName;
                    item.value = item.guid;
                });

                return result;
            }
        });

    });

</script>
</html>
